/****general styling****/

html {
    scroll-behavior: smooth;
}

/*body*/

body {
    margin: 0%;
}

/*h*/

h1, h2 {
    text-transform: uppercase;
    font-family:"Trebuchet MS", Optima;
    text-align:center;
    color:azure;
}

h3 {
    text-transform: uppercase;
    font-family:"Trebuchet MS", Optima;
    padding:0%;
    margin:0% 0% 8% 0%;
}

.footer h3 {
margin:0%;
color:azure;
}

/*portfolio title text*/

.header {
    color:black;
    padding-top: 12vh;
    margin-top:0;
}

/*p*/

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:azure;
    text-align:justify;
    letter-spacing:none;
    font-size:1vw;
    padding-left:1vw;
    padding-right:1vw;
}

p.about {
    font-size:1.5vw;
}

.bgtext p {
    padding-top:4vh;
    text-align:center;
    color:black;
    font-weight:bold;
    letter-spacing:0.1vw;
}

.contact_p {
    color:black;
    font-weight:bold;
}

/*a*/

a {
    color:bisque;
    font-weight:bold;
    cursor:pointer;
    text-decoration:none;
}

a.games_link {
    color:mediumslateblue;
    z-index:5;
}

a:hover {
    color:black;
}

/*img*/

.body_img_container {
    display:block;
    position:relative;
    border:thick outset bisque;
    height:350px;
    width:350px;
}

.games_brief1 {
    margin-left:8.5vw;
}

.games_brief2 {
    margin-left:8.7vw;
}

.skills_img_container {
    height:150px;
    width:150px;
}

.body_img {
    display:block;
    height:100%;
    width:100%;
}

.skills_img_container img {
    display:block;
    height:100%;
    width:100%;
}

.skills_icon_container {
    display: flex;
}

.skills_icon {
    height:10vh;
    width:10vh;
}

.contact_img {
    height:5vh;
    width:5vh;
}

#img_caption.body_img_text {
    text-align:left;
    text-transform:none;
    letter-spacing:normal;
    color:black;
    font-size:1.6vw;
    font-weight:bold;
    font-family:"Trebuchet MS", Optima;
    background-color:rgba(255, 228, 196, 0.658);
    position:absolute;
    bottom:0;
    width:100%;
}

span#img_caption {
    padding:0.8vw;
}

.hover_text {
    position:absolute;
    top:0;
    left:0;
    display:none;
}

.body_img_container:hover {
    transition:transform 1s;
    transform:scale(1.1)
}

.body_img_container:hover .body_img_text {
    display: none;
}

.body_img_container:hover .hover_text {
    display:block;
    cursor:pointer;
}

/*footer*/

.footer {
    padding:1%;
    background-color: mediumslateblue;
    border-top: solid thick black;
}

.footer p{
    text-align:left;
    font-size:1.1vw;
    letter-spacing:normal;
    margin:0%;
    padding:0%;
}

/****end general styling****/

/****topnav and dropdown styling****/

.topnav {
    position:fixed;
    width:100%;
    background-color:mediumslateblue;
    -webkit-animation: moveNav 1s;
    animation: moveNav 1s;
    border-bottom:solid thick black;
    z-index:1;
}

.dropdown {
    float:left;
}

.dropdown_content {
    display:none;
    position:absolute;
    top:100%;
    background-color:mediumslateblue;
    z-index:2;
}

.dropdown:hover .dropdown_content {
    display:block;
}

a:hover img {
    filter:invert(100%);
}
    

/* moveNav animation effect for moving nav bar in from the left of the screen */

@keyframes moveNav {
    from {left: -100vw;}
    to {left: 0vw;}
}

/*topnav links*/

.topnav a {
    float:left;
    display:block;
    color:azure;
    padding: 0.75vw 1vw;
    text-decoration:none;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:1.5vw;
    font-weight:bold;
    text-align:center;
}

a.animate {
    -webkit-animation: moveNavText 1s;
    animation: moveNavText 1s;
}

.topnav .icon {
    display:none;
}

/*moveNavText animation effect for moving the topnav text from above the view to the topnav */

@keyframes moveNavText {
    from {top: -100vw;}
    to {top: 0vw;}
}

.topnav a:hover {
    background-color:black;
    color:mediumslateblue;
    cursor:pointer;
    transition: 0.5s ease-in;
}

.topnav a.active:hover {
    color:azure;
    cursor:pointer;
    transition: 0.5s ease-in;
}

/****end topnav styling****/

/****floatnav styling****/

.floatnavButton {
    position:fixed;
    bottom:1.75vw;
    right:1.75vw;
    width:5vw;
    background-color:rebeccapurple;
    color:white;
    border:solid thick white;
    cursor:pointer;
    -webkit-animation: moveFloatnav 2s;
    animation: moveFloatnav 2s;
    z-index:1;
    font-weight:bold;
}

@keyframes moveFloatnav {
    from {right:-40vw;}
    to {right:1.75vw;}
}

@-webkit-keyframes moveFloatnav {
    from {right:-40vw;}
    to {right:1.75vw;}
}

.floatnavMenu {
    z-index:2;
    display:none;
    position:fixed;
    bottom:1.75vw;
    right:1.75vw;
    width:auto;
    padding:1vw;
    background-color:white;
    border:solid thick rebeccapurple;
    overflow:auto;
    text-align:right;
}

.floatnavButton:hover + .floatnavMenu,
.floatnavMenu:hover {
    display: block;
}

.floatnavMenu a {
    color:black;
    font-weight:bold;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration:none;
}

.floatnavMenu a:hover {
    color:rebeccapurple;
}

/****end floatnav styling****/

/****background styling****/

.bgimg {
    position:fixed;
    min-width:100%;
    min-height:100%;
    z-index:-1;
    filter:none;
}

.bgtext {
    background: rgba(255, 255, 255, 0.55);
    color:black;
    width:100%;
    height:50vh;
    padding-top:0%;
    position:relative;
    -webkit-animation: moveVideoText 1s;
    animation: moveVideoText 1s;
}

.game_bg {
    height:100%;
}

.mazev2_bg {
    padding-bottom:2vw;
}

#pdf_bg.bgtext {
    height:150vh;
}

@keyframes moveVideoText {
    from {top:-100vw;}
    to {top:0vw;}
}

/****end background styling****/

/****slideshow styling****/

/* Slideshow container */
.slideshow {
    width:500px;
    height:450px;
    position: relative;
    margin-left:5vw;
    margin-bottom:1vw;
    padding:0;
    flex:1;
    border: thick outset bisque;
}

.game_desc {
    flex:1;
}

p.game_text {
    font-size:1.5vw;
    text-align:left;
    margin:0;
    padding-left:1vw;
    padding-top:0;
    position:relative;
    top:0;
    left:0;
}
  
/* Hide the images by default */
.mySlides {
    display: none;
    height:100%;
}

.slideshow_img {
    width:100%;
    height:100%;
}

.slideshow_vid {
    height:100%;
    width:100%;
    object-fit:cover;
}
  
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color:mediumslateblue;
    background-color:rgba(255, 255, 255, 0.408);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color:rgba(0,0,0,0.8);
}
  
/* Caption text */
.text {
    color:black;
    background-color:rgba(255, 255, 255, 0.404);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:15px;
    font-weight:bold;
    position:absolute;
    bottom:0;
    width:100%;
    text-align:center;
}
  
/* The dots/bullets/indicators */
.slideshow_dots {
    margin-left:25vw;
    margin-bottom:1vw;
}

.dot {
    cursor:pointer;
    height:15px;
    width:15px;
    margin:0 3px;
    background-color:mediumslateblue;
    border-radius:50%;
    display:inline-block;
    transition:background-color 0.6s ease;
}
  
.active_dot, .dot:hover {
    background-color:black;
}
  
/* Fading animation */
.fade {
    animation-name:fade;
    animation-duration:1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
/****end slideshow****/

/****table stlying****/
/*will need to be redone*/

* {
    box-sizing:border-box;
}

.row {
    overflow:auto;
}

.row:after {
    content:"";
    display:table;
    clear:both;
}

.column {
    padding:1.5%;
    border-top:solid thick black;
}

.row#about_me .column {
    background-color:rgb(109, 88, 115);
}

.row#workbench {
    background-color:rgb(240, 187, 255);
}

.row#highlights {
    background-color:rgb(61, 4, 77);
}

.row#games_brief {
    background-color:rgb(54, 40, 67);
}

#in_progress.column {
    border:none;
    float:left;
    margin:0% 0% auto 7vw;
}

#most_recent.column {
    border:none;
    float:right;
    margin:0% 7.8vw auto 0%;
}

#highlight_row.row, #skills_row.row, #contact_row.row {
    display:flex;
    overflow:auto;
}

#slideshow_row.row {
    display:flex;
}

#highlight_column.column, #skills_column.column, #contact_column.column {
    border:none;
    flex:auto;
}

#skills_column.column {
    padding-left:7%;
}

.row#skills_summary .column {
    background-color:lightsteelblue
}

h1#skills.pageBody, h1#wb.pageBody, h2#wb, h2#ss {
    color:rebeccapurple;
} 

h1#skills.pageBody {
    margin-top: 3vw;
}

h2#ss {
    margin-left:0%;
    padding-left:0%;
    text-align:left;
}

/*.column p {
    color:black;
    font-size:1.60vw;
    font-weight: bold;
    letter-spacing:normal;
}

.img_column {
    float:left;
    width:50%;
    padding:1.6%;
    padding-top:8%;
    height:500px;
    background-color:lightsteelblue;
}*/

/****end of table styling****/

/****PDF file****/

.pdf {
    text-align: center;
}

.resume {
    height:120vh;
    width:105vh;
}

/****media query****/

@media screen and (max-width: 527px) {
    p {
        font-size:3.75vw;
    }
}

@media screen and (min-width: 528px) and (max-width: 660px) {
    p {
        font-size:3.5vw;
    }
}

@media screen and (min-width: 661px) and (max-width: 799px) {
    p {
        font-size:2.75vw;
    }
}

@media screen and (min-width: 800px) and (max-width: 924px) {
    p {
        font-size:2.5vw;
    }
}

@media screen and (min-width: 925px) and (max-width: 1050px) {
    p {
        font-size:2.25vw;
    }
}

@media screen and (min-width: 1051px) and (max-width: 1310px) {
    p {
        font-size:2vw;
    }
}

@media screen and (min-width: 1311px) and (max-width: 1535px) {
    p {
        font-size:1.75vw;
    }
}

@media screen and (min-width: 1536px) and (max-width: 2269px) {
    p {
        font-size:1.5vw;
    }
}

@media screen and (min-width: 2270px)  {
    p {
        font-size:1.35vw;
    }
}

@media screen and (max-width:1080px) {
    .topnav a {
        width: 20%;
        font-size: 2.5vw;
    }
}

@media screen and (max-width:1080px) {
    .header {
        font-size: 4.5vw;
    }
}

/*@media screen and (max-width:1725px) {
    .column {
        height:550px;
    }
}*/

@media screen and (min-width: 2000px) {
    h1{
        margin-top:0;
    }
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }